<label
    {%- if id %} id="{{ id }}"{% endif %}
    {%- if for_ %} for="{{ for_ }}"{% endif %}
    {%- if css_classes %} class="{{ css_classes }}"{% endif %}>
        {%- if value %}{{ value }}{% endif -%}
</label>
