<input type="text"
    {%- if id %} id="{{ id }}"{% endif %}
    {%- if self_.full_name() %} name="{{ self_.full_name() }}"{% endif %}
    {%- if value %} value="{{ value }}"{% endif %} 
    {%- if css_classes %} class="{{ css_classes }}"{% endif %} />
