<input type="text"
    {%- if id %} id="{{ id }}"{% endif %}
    {%- if name %} name="{{ name }}"{% endif %}
    {%- if value %} value="{{ value }}"{% endif %} 
    {%- if css_classes %} class="{{ css_classes }}"{% endif %} />
