<form
    {%- if id %} id="{{ id }}"{% endif %}
    {%- if name %} name="{{ name }}"{% endif %}
    {%- if css_classes %} class="{{ css_classes }}"{% endif %}
    {%- if True %} action="{{ url }}"{% endif %}
    {%- if True %} method="{{ method }}"{% endif %}
    {%- if enctype %} enctype="{{ enctype }}"{% endif %}
    {%- if True %} accept-charset="{{ charset }}"{% endif %}>
    {%- for child in self_.children_() -%}
        <div {% if child.id_for_container() -%}id="{{ child.id_for_container() }}" {% endif -%}
            class="{{ ' '.join(child.css_classes_for_container()) }}">
            {{- h.render_label(child) -}}
            {{ child.display() }}
            {%- if child.context.contains_errors() -%}
                {%- for rendered_msg in h.error_messages(child.context) -%}
                    <span class="validationerror-message">{{ rendered_msg }}</span>
                {%- endfor -%}
            {%- endif -%}
        </div>
    {%- endfor -%}
</form>
