<input type="radio"
    {%- if id %} id="{{ id }}"{% endif %}
    {%- if self_.full_name(name) %} name="{{ self_.full_name(name) }}"{% endif %}
    {%- if option_value != None %} value="{{ option_value }}"{% endif %}
    {%- if value == True %} checked="checked"{% endif %}
    {%- if css_classes %} class="{{ css_classes }}"{% endif %}
    {%- if attrs -%}
        {%- for key, value in attrs.iteritems() %} {{ key }}="{{ value }}" {% endfor -%}
    {%- endif -%} />
