<textarea
    {%- if id %} id="{{ id }}"{% endif %}
    {%- if self_.full_name(name) %} name="{{ self_.full_name(name) }}"{% endif %}
    {%- if cols %} cols="{{ cols }}"{% endif %}
    {%- if rows %} rows="{{ rows }}"{% endif %}
    {%- if css_classes %} class="{{ css_classes }}"{% endif %}
    {%- if attrs -%}
        {%- for key, value in attrs.items() %} {{ key }}="{{ value }}" {% endfor -%}
    {%- endif -%}>
    {%- if value %}{{ value }}{% endif -%}
</textarea>
